$color-accent-color: #555;
$color-inverse-accent-color: #FFF;
$color-page-background: #FFF;
$color-text-color: #555;
$color-error-color:#F00;
$color-link-color: #1a0dab;
$color-overlay-background-color: #FFF;