$image-logo-image: '//pi.formassembly.com/l/77672/2016-09-27/45p3g1/77672/82588/formassembly_logo_white.png';
$length-logo-height: 2em;
$length-logo-width: auto;

/* Main container. Must wrap *all* theme CSS */
.wFormContainer {

  /* Header and logo placeholder. */
  .wFormHeader {
    box-sizing: content-box;
    height: $length-logo-height;
    padding: 1rem 0 2rem 0;
    background: url($image-logo-image) no-repeat left center;
    background-size: $length-logo-width $length-logo-height;
  }

}