$table-background-color: darken($form-background-color,2%);
/* Tables */
.wFormContainer {

  table.matrixLayout,
  table.gridLayout  {
    thead {

    }
    tbody {
      th {
        height: 2.5em;
      }
      tr:nth-child(odd) {
        background-color: darken($table-background-color, 3%);
      }
      tr:nth-child(even) {
        background-color: $table-background-color;
      }
    }
  }

  /* Responsive Tables - if the screen size is too small to display the table without horizontal scrolling,
   the table is automatically "stacked". To see the effect, reduce your browser window size. */
  .gridLayout.stacked {

  }
  .matrixLayout.stacked {

  }

  table.columnLayout {
  }
}

/* in form builder preview, tables have additional invisible rows */
#preview .wFormContainer {
  table.matrixLayout,
  table.gridLayout  {
    tbody {
      tr:nth-child(n) {
        background-color:transparent;
      }
      tr:nth-child(4n) {
        background-color:rgba(0,0,0,.025);
      }
    }
  }
}