$table-background-color: darken($form-background-color,2%);
/* Tables */
.wFormContainer {

  table.matrixLayout,
  table.gridLayout  {
    thead {

    }
    tbody {
      tr:nth-child(odd) {
        background-color: darken($table-background-color, 3%);
      }
      tr:nth-child(even) {
        background-color: $table-background-color;
      }
    }
  }

  /* Responsive Tables - if the screen size is too small to display the table without horizontal scrolling,
   the table is automatically "stacked". To see the effect, reduce your browser window size. */
  .gridLayout.stacked {

  }
  .matrixLayout.stacked {

  }

  table.columnLayout {
  }
}