/* SU.ORG COLORS *************************************************************/

$white:	    #ffffff;
$gray1:     #F4F5F5;
$gray2:     #EAE8E8;
$gray3:     #D4D8DA;
$gray4:     #7B858C;
$gray5:     #4A4A4A;
$gray6:     #3A4955;
$black:		#000000;

$blue:      #2467B0;
$pink:      #E4168D;
$orange:    #FF7900;

$aqua:      #009688;
$navy:      #081b30;
$darkblue:	#384A56;
$pinkshade: #F43D83;
$lightgray: $gray3;

$text-color: #4A4A4A;

/* FORMASSEMBLY COLORS (DO NOT RENAME THESE) *********************************/

$color-accent-color: $darkblue;
$color-inverse-accent-color: $gray3;
$color-page-background: #FFF;
$color-text-color: $text-color;
$color-error-color: $pink;
$color-link-color: $blue;
$color-overlay-background-color: #FFF;