$color-accent-color: #2093c2;
$color-inverse-accent-color: #FFF;
$color-page-background: #2093c2;
$color-text-color: #555;
$color-error-color:#F00;
$color-link-color: #2281a9;
$color-overlay-background-color: #FFF;