$form-padding: 1rem 2rem;
$form-background-color: #fff;
$form-border: none;

/* Main container. Must wrap *all* theme CSS */
.wFormContainer {

  /* Container for title and form */
  .wForm {
    background-color: $form-background-color;
    color: $color-text-color;
    border: $form-border;
    border-radius: .2rem;

    /* Form */
    form {
      padding: $form-padding;
    }
  }
}

/* Optional - Apply for FormAssembly hosted forms only. */
.wFormWebPage {
  background-color: $color-page-background;
}

@media only screen and (max-width: 600px) {
  .wFormWebPage {
    margin: 0 !important;

    .wForm {
      border-radius: 0;

      form {
        padding: 0 1rem;
      }
    }
  }
}



