@import "colors";
@import "typography";
@import 'form-container';
@import 'header-and-logo';
@import "title-and-headings";
@import "navigation";
@import "sections";
@import "tables";
@import "labels";
@import "inputs";
@import "hints";
@import 'autosuggest';
@import "calendar";
@import "errors";
@import 'buttons';
@import 'footer';

.wFormContainer {
  .oneField, .section {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }
}
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}













